.create_content {
    flex: 4;
}
.data_container {
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.form_title {
    font-size: 25px;
}
.form_container {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
}
.form_container > input {
    width: 350px;
    font-size: 16px;
    height: 50px;
    outline: none;
    border: 1px solid gray;
    margin-bottom: 10px;
}
.button_container {
    width: 100%;
}
.content_create_button {
    margin-left: 550px;
    padding: 10px;
    color: white;
    font-size: 15px;
    border-radius: 2px;
    border: none;
    background-color: rgb(47, 47, 160);
}