.register {
  width: 100%;
  position: relative;
  height: 100vh;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 1) 100%
    ),
    url("https://cdn.hipwallpaper.com/i/98/21/dUyCkp.jpg");

  .top {
    .wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 20px 50px;

      .logo {
        height: 40px;
      }
      .loginButton {
        background-color: #d60606;
        border: none;
        padding: 10px 20px;
        font-size: 18px;
        font-weight: 500;
        border-radius: 5px;
        cursor: pointer;
      }
    }
  }
  .container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;

    h1 {
      font-size: 50px;
    }
    h2 {
      margin: 20px;
    }
    p {
      font-size: 20px;
    }

    .input {
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: white;
      margin-top: 20px;
      height: 50px;
      border-radius: 5px;

      input {
        flex: 9;
        border: none;
        height: 100%;
        font-size: 19px;
      }
      .registerButton {
        flex: 3;
        border: none;
        background-color: red;
        color: white;
        font-size: 22px;
        cursor: pointer;
        height: 100%;
      }
    }
  }
}
